<!DOCTYPE html>
<html lang="en">
  <head>
    <%= stylesheet_link_tag 'home' %>  
  </head>
  <body>
    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4">Albums Page</h1>

        </div>

        <!-- Side Menu -->
        <%= render "layouts/sidemenu" %>        

        </div>
        <!-- /.row -->
  
      </div>
      <!-- /.container -->

  </body>

</html>
